.env
package-lock.json

HPRatings.json
driverRatings.json
pitScoutingData.json
qualitativeScoutingData.json
HPRatings.json
matches.json
alliances.json
eventDetails.json
oprs.json
teams.json
teamStatuses.json
